@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cor-primaria: #000000;
    --cor-secundária: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundária);
    box-sizing: border-box;
}

.cabecalho{
    padding: 3% 15%;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;

}
.cabecalho__menu__link:hover {
    color: var(--cor-secundária);
}

.conteudo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4% 15%;
    gap: 82px
}

.conteudo__escrito {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.conteudo__escrito__titulo {
    font-family: var(--fonte-primaria);
    font-weight: 300;
    font-size: 2.25rem;
}

.conteudo__escrito__titulo strong {
    color: var(--cor-terciaria);
    font-weight: 400;
}

.conteudo__escrito__paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.conteudo__escrito__contato__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
}
.conteudo__escrito__contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundária);
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    width: 70%;
    padding: 16px;
}

.botao:hover {
    background-color: #272727;
}

.conteudo__imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-weight: ;
    background-color: var(--cor-terciaria);
    padding: 24px;
    display: flex;
    justify-content: center;
}


@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }
    
    .conteudo {
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }
    .conteudo__escrito {
        width: auto;
    }
}
